.hero-section {
    padding: 20rem 0 20rem 0;
    background-image: url('../../assets/brand/hero-img.png');
    object-fit: contain;
    background-position: top;
    background-attachment: scroll;
    opacity: 0.2;
}