.hero-section {
    padding: 15rem 0 20rem 0;
    background-image: url('../../assets/brand/hero-img.png');
    object-fit: contain;
    background-position: top;
    background-attachment: scroll;
  filter: brightness(0.6);
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
.hero-section > h1 {
font-family: 'Gloock', serif;
font-size: 3.5rem;
width: 60%;
opacity: 0.9;
color: rgb(255, 255, 255);
}
.hero-section > p {
    filter: inherit;
    color: white;
}