.hero-section {
  position: relative;
  padding: 12rem 0 12rem 0;
  background-image: url('../../assets/brand/hero-img.png');
  object-fit: contain;
  background-position: top;
  background-attachment: scroll;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  gap: 0.8rem;
}

.hero-section::after {
    position: absolute; /*IMPORTANT!*/
    background-color: transparent;
    content: "";
    width: 100%;
    height: 10px;
    mix-blend-mode:difference;
    left: 0;
    z-index: 1;
    bottom: 0rem;
background: url(../../assets/brand/overlay-bottom.png);
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adjust the opacity as needed */
  filter: brightness(0.7); /* apply the filter to the overlay */
  z-index: -1;
}

.hero-section > h1 {
  font-family: 'Gloock', serif;
  font-size: 4rem;
  width: 80%;
  filter: brightness(100%);
  color: rgb(255, 255, 255);
  line-height: 1.3;
  
}

.hero-section > p {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;

}
.hero-section > button {
    background: #8bb8c1;
    padding: 1rem;
    border-radius: 22px;
    border: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-top: 1rem;
    font-weight: 900;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 0;
    transition: 0.3s;
  
}

.hero-section > button:hover {
    background: #ffffff;
   color: black;
   
    z-index: 0;
}