.hero-section {
    padding: 15rem 0 15rem 0;
    background-image: url('../../assets/brand/hero-img.png');
    object-fit: contain;
    background-position: top;
    background-attachment: scroll;
  filter: brightness(0.7);
  z-index: -1;
  display: flex;
}
.hero-section > h1 {
font-family: 'Gloock', serif;
font-size: 2rem;
width: 60%;
}
.hero-section > p {

}