.hero-section {
    padding: 15rem 0 15srem 0;
    background-image: url('../../assets/brand/hero-img.png');
    object-fit: contain;
    background-position: top;
    background-attachment: scroll;
  filter: brightness(0.7);
  z-index: -1;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
}