.hero-section {
  position: relative;
  padding: 12rem 0 17rem 0;
  background-image: url('../../assets/brand/hero-img.png');
  object-fit: contain;
  background-position: top;
  background-attachment: scroll;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adjust the opacity as needed */
  filter: brightness(0.7); /* apply the filter to the overlay */
  z-index: -1;
}

.hero-section > h1 {
  font-family: 'Gloock', serif;
  font-size: 4rem;
  width: 80%;
  filter: brightness(100%);
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.hero-section > p {
  color: rgb(255, 255, 255);
  
font-family: 'Roboto Slab', serif;

}
