.portfolio-hero-section {
    padding: 15rem 10rem 20rem 6rem;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('../../../assets/brand/background-imgs/portfolio-hero-img.jpg');
    object-fit: contain;
    background-position:35%;
    background-attachment: fixed;
    flex-direction: column;
    color: azure;
    position: relative;
    align-items: flex-start;
   display: flex;
   gap: 1rem;
}
.portfolio-hero-section::after {
    position: absolute; /*IMPORTANT!*/
    background-color: transparent;
    content: "";
    width: 100%;
    height: 10px;
    
    left: 0;
    z-index: 1;
    bottom: 0rem;
background: url(../../../assets/brand/overlay-bottom.png);
}
.portfolio-hero-section > p {
    font-size: 16px;
font-weight: 700;
color: rgba(160, 22, 22, 0.829);
margin-bottom: 5px;
-webkit-animation-delay: .2s;
animation-delay: .2s;
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
letter-spacing: 5px;
}
.portfolio-hero-section > h1 {
    position: relative;
    width: 25rem;
    text-align: left;
margin-bottom: 0;
font-family: 'Oswald', sans-serif;
font-size: 75px;
text-transform: uppercase;
color: #fff;
font-weight: 500;
letter-spacing: 3px;
line-height: 5.5rem;
}

.portfolio-hero-section > h1 > span {
    position: relative;
   
    margin-bottom: 0;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}
.portfolio-hero-section > button {
    height: 3rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgba(160, 22, 22, 0.829);
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-hero-section > small {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    width: 20rem;
    text-align: start;
    line-height: 1.7;
}
.portfolio-hero-section > button:hover {
    color: black;
    background-color: white;
    transform: scale(1,1);
}
.portfolio-hero-section > button > a {

display: flex;
}

@media screen and (max-width: 768px) {
    .portfolio-hero-section {
      padding: 10rem 5vw 15rem 5vw;
    }
  
    .portfolio-hero-section > h1 {
      font-size: 4rem;
      width: 20rem;
    }
 
    .portfolio-hero-section > small {
      font-size: 1rem;
    }
  }

@media screen and (max-width: 480px) {
    .portfolio-hero-section {
      padding: 8rem 5vw 12rem 5vw;
    }
  
    .portfolio-hero-section > p {
      font-size: 0.8rem;
      width: auto;
    
    }
  
    .portfolio-hero-section > h1 {
      font-size: 3rem;
      letter-spacing: 2px; 
      width: 15rem;
    }
}