.form-container {
    max-width: 1100px;
    font-size: 0.6rem;
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
    padding: 10px 10px 2px 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

 

.form-container > header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: rgba(129, 16, 16, 0.829);;
  margin-bottom: 2rem;
}
.form-container > header > h2 {
  font-size: 3rem;
}
.form-container > header > img{
  width: 12rem;
  filter: brightness(0.6);
}
  .form-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
    
  }
  fieldset {
    border: none;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #fieldset-1 > input {
padding-right: 2rem;
  }
 
  .form-row > fieldset {
    display: flex;
    border: none;
    flex-direction: column;
    width: 100%;
  }
  textarea {
    height: 10rem;
  }
  .form-row {
    display: flex;
    gap: 1.5rem
  }
  #row-1 {
    display: flex;
    justify-content: space-between;
    
    
  }
.form-row {
    width: 100%;
}
  
  .form-label {
    display: flex;
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  #checkbox-fieldset {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
  }
 #checkbox {
 
  width: auto;

 }
  #checkbox [type="checkbox"] {
    background-color: white;
  }
  
  
  .form-input, .input-error,
  .form-textarea {
    color: #696969;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;

    font-size: 16px;
    line-height: 1.5;
    transition: border-color 0.
  }
  .input-error {
    border: 1px solid red;
    color: #696969;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  
    font-size: 16px;
    line-height: 1.5;
    transition: border-color 0.
  }
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .form-container > button {
    padding: 1rem;
    width: 10rem;
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
    transition: 0.2s;
    font-size: 17px;
    cursor: pointer;
    background-color: #8bb8c1;

  }
  .form-container > button:hover {
    transform: scale(1.1);
    background-color: #6b8f96;
  }

  .success {
    color: green;
    font-size: 1rem;
  }
  @media (max-width: 768px) {
    /* Form container */
    .form-container {
      padding: 20px;
      font-size: 13px;
    }
    
    #form-column {
      flex-direction: column;
      display: flex;
    }
    /* Form title */
    .form-title {
      font-size: 48px;
    }
    fieldset {
      flex-direction: row;
      justify-content: space-between;
    }
  
    /* Input fields */
    #first-name {
      margin-right: 2rem;
    }
    
    /* Checkbox */
    #checkbox {
      margin-top: 0.2rem;
    }
  
    /* Submit button */
    .form-button {
      width: 50%;
    }
  }
  
  @media (max-width: 992px) {
    /* Form container */
    .form-container {
      padding: 20px;
      font-size: 0.6rem;
    }
    .form-container > header > h2 {
      font-size: 2rem;
    }
    .form-container > header > img {
      width: 10rem;
    }
    .form-container > header {
      display: flex;
    
     flex-direction: column-reverse;
    }
    .form-label {
      font-size: 0.8rem;
    }
    .form-input {
      font-size: 0.8rem;
    }
    .input-error {
      font-size: 0.8rem;
    }
  
    /* Form fields */
    fieldset {
      flex-direction: row;
      
    }
  
    /* Input fields */
    #first-name {
      margin-right: 2rem;
    }
  
  
    /* Submit button */
    .form-button {
      width: 25%;
      font: 1rem;
      height: 3.4rem;
    }
  }
  
  @media (min-width: 992px) {
    /* Form container */
    .form-container {
      padding: 70px 70px 25px 70px
    }
  
    /* Form fields */
    fieldset {
      flex-direction: row;
    }
  
    /* Input fields */
    #first-name {
      margin-right: 2rem;
    }
  
    /* Submit button */
    .form-button {
      width: 30%;
    }
  }
  
 
  