.portfolio-hero-section {
    padding: 15rem 0 15rem 0;
    background-image:  url('../../assets/brand/background-imgs/portfolio-hero-img.jpg');
    object-fit: cover;
    background-position: top;
    background-attachment: fixed;
    flex-direction: column;
    color: azure;
    align-items: center;
    position: relative;
}